{% extends 'base.html.twig' %}

{% block title %}Liste des photos{% endblock %}

{% block body %}
    <h1>Liste des photos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Propriété</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photo in photos %}
            <tr>
                <td>{{ photo.id }}</td>
                <td><img src="{{ asset(photo.imagePath) }}" alt="Photo" width="100"></td>
                <td>{{ photo.property.title }}</td>
                <td>
                    <a href="{{ path('photo_show', {'id': photo.id}) }}" class="btn btn-info">Voir</a>
                    <a href="{{ path('photo_edit', {'id': photo.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune photo trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('photo_new') }}" class="btn btn-success">Ajouter une nouvelle photo</a>
{% endblock %}